<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "时间猎人", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "首页",    '#' %></li>
          <li><%= link_to "帮助",    '#' %></li>
          <li><%= link_to "关于", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>